<div class="container mt-5 p-4 shadow rounded bg-light">
  <h1 class="text-center mb-4 text-primary">Filtro de Facturas</h1>

  <form
    (ngSubmit)="onSubmit()"
    #dateForm="ngForm"
    class="row g-3 justify-content-center"
  >
    <div class="col-md-4">
      <label for="startDate" class="form-label">Fecha Inicial</label>
      <input
        type="date"
        id="startDate"
        name="startDate"
        [(ngModel)]="startDate"
        class="form-control"
        required
      />
    </div>

    <div class="col-md-4">
      <label for="endDate" class="form-label">Fecha Final</label>
      <input
        type="date"
        id="endDate"
        name="endDate"
        [(ngModel)]="endDate"
        class="form-control"
        required
      />
    </div>

    <div class="col-md-4 d-flex align-items-end">
      <button type="submit" class="btn btn-primary w-100">
        Obtener Ventas
      </button>
    </div>
  </form>

  <div *ngIf="sales && sales.length > 0" class="mt-5">
    <h3 class="text-center text-success">
      Facturas del {{ startDate }} al {{ endDate }}
    </h3>
    <table class="table table-bordered table-hover mt-3">
      <thead class="table-primary text-center">
        <tr>
          <th>Fecha</th>
          <th>Total Venta</th>
        </tr>
      </thead>
      <tbody>
        @for (sale of sales; track sale.id) {
        <tr>
          <td>{{ sale.invoice_date | date }}</td>
          <td class="text-end">${{ sale.total | number : "1.2-2" }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <div
    *ngIf="sales && sales.length === 0 && startDate && endDate"
    class="alert alert-info text-center mt-4"
  >
    No hay facturas para mostrar en este rango de fechas.
  </div>
</div>
